.container {
  margin: 20px;
}

.dashboard-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

mat-card {
  background: #fafafa;
}

mat-card-title {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 10px;
}

mat-card-content {
  .stats {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .stat {
    flex: 1 1 200px;
    background: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .stat:hover {
    background: #e0e0e0;
  }

  .p-table {
    width: 100%;
    border-collapse: collapse;
  }

  th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
  }

  th {
    background-color: #f5f5f5;
    font-weight: bold;
  }

  tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  tr:hover {
    background-color: #f1f1f1;
  }
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button.view-all-deals {
  background-color: #007bff;
  color: white;
  border: none;
  width: 10%;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.button.view-all-deals:hover {
  background-color: #007bff;
}

.align-container {
  display: flex;
  justify-content: flex-start;
}

.align-container.align-right {
  justify-content: flex-end;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  background-color: #f9f9f9;
  width: 250px;
}

.button {
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
}

.button.create-new-applicant {
  background-color: #b3007d;
}

.button.create-new-applicant:hover {
  background-color: #218838;
}

.button.creditscore-status {
  background-color: #006eb3;
}

.button.creditscore-status:hover {
  background-color: #218838;
}

.button.document-verification {
  background-color: #a74e28;
}

.button.document-verification:hover {
  background-color: #218838;
}

.button.loan-status {
  background-color: #1855ab;
}

.button.loan-status:hover {
  background-color: #2b8821;
}

.button-container .button:last-child {
  margin-bottom: 0;
}
